# docker-compose.yml
services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend/app:/app/app
    env_file:
      - .env
    # --- ИЗМЕНЕНИЕ ЗДЕСЬ ---
    # Теперь depends_on будет ждать, пока healthcheck сервиса db не станет успешным
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "5432:5432"
    # --- НОВАЯ СЕКЦИЯ HEALTHCHECK ---
    healthcheck:
      # Команда, которую Docker будет выполнять внутри контейнера для проверки
      # pg_isready - это стандартная утилита PostgreSQL
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s    # Проверять каждые 5 секунд
      timeout: 5s     # Ждать ответа не более 5 секунд
      retries: 5      # Сделать 5 попыток, прежде чем считать сервис "нездоровым"

volumes:
  postgres_data: